erlang/**/_build/
erlang/**/rebar*.*
erlang/**/include/
erlang/**/*.beam
erlang/**/*tests.*
erlang/**/*.app.src
erlang/**/*.md
erlang/**/metadata.json
bash/**/metadata.json
bash/**/README.md
bash/**/*_test.sh
csharp/**/.vscode/
csharp/**/.exercism/
csharp/**/obj/
csharp/**/bin/
csharp/**/.editorconfig
exercism
