erlang/**/_build/
erlang/**/rebar*.*
erlang/**/include/
erlang/**/*.beam
erlang/**/*tests.*
erlang/**/*.app.src
erlang/**/*.md
erlang/**/metadata.json
bash/**/metadata.json
bash/**/*_test.sh
csharp/**/.vscode/
csharp/**/*.csproj
csharp/**/obj/
csharp/**/bin/
csharp/**/.editorconfig
csharp/**/*Tests.cs
**/README.md
**/HELP.md
**/.exercism/
exercism
